PRE PROCESADO DE DATOS

In [1]:
from pandas import *
dataset=read_csv("Proyecto_dataset.csv")

dataset.describe(include="all") #Ver lo datos de manera objetiva
print(dataset.shape) # Tamaño del csv

dataset.dtypes

(142, 1)

PC;PMg;PP;PS;Psi;Pti;PNb;PCr;PBr;Pal;PV;Pcu;Pca;Pni;Pmo;Pn;Dureza    object
dtype: object

REDUCCION DE DATOS

In [2]:
#Muestra la cantidad de valores unicos
dataset.nunique()

PC;PMg;PP;PS;Psi;Pti;PNb;PCr;PBr;Pal;PV;Pcu;Pca;Pni;Pmo;Pn;Dureza    99
dtype: int64

In [3]:
# Obtener porcentaje de filas (registros) unicas por cada columna
# (variable). Mientras mas cercano sea el valor a 1 significa que
# tiene mas filas (regustris) únicos
dataset.nunique()/len(dataset)

PC;PMg;PP;PS;Psi;Pti;PNb;PCr;PBr;Pal;PV;Pcu;Pca;Pni;Pmo;Pn;Dureza    0.697183
dtype: float64

In [4]:
# Determinar aquellas columnas (variables) que tengan un 
# porcentaje de filas (registros) únicas por cada columna
# (variable) mayor al valor de 0.7
porcentaje=0.7
porcentajes_dataset = dataset.nunique()/len(dataset)
criterio = porcentajes_dataset > porcentaje
print("Este es el criterio:",criterio)
columnas_to_filtrar = porcentajes_dataset[criterio].keys()
columnas_to_filtrar

Este es el criterio: PC;PMg;PP;PS;Psi;Pti;PNb;PCr;PBr;Pal;PV;Pcu;Pca;Pni;Pmo;Pn;Dureza    False
dtype: bool

Index([], dtype='object')

In [5]:
#Eliminar las columnas (variables) seleccionadas en el paso 
# anterior. Al aplicar "drop" obtenemos un nuevo "DataFrame", 
# pero con el parámetro
#inplace igual a "True" podemos realizar dicha operación de 
# eliminación y sobre-escribir el "DataFrame" del cual estamos
#  eliminando con el
#nuevo "DataFrame" obtenido. El parámetro axis permite seleccionar
#  el eje respecto al cual aplicar la operación "drop". Los 
# valores válidos
#son [0 o "index"] y [1 o "columns"]

dataset.drop(columnas_to_filtrar,axis=1,inplace=True)
dataset

    PC;PMg;PP;PS;Psi;Pti;PNb;PCr;PBr;Pal;PV;Pcu;Pca;Pni;Pmo;Pn;Dureza
0    235;1.23;21;0.0079;0.1;11;5;0.04;0.0004;42;5;0...
1    242;1.22;14;0.0047;0.1;11;11;0.02;0.0005;41;2;...
2    234;1.24;19;0.0058;0.1;11;1;0.04;0.0005;44;4;0...
3    252;1.25;16;7;101;13;4;0.03;0.0004;41;6;0.03;0...
4    227;1.28;23;0.0072;103;12;5;0.04;0.0004;33;8;0...
..                                                 ...
137  0.23;1.26;15;5;118;11;1;0.03;0.0005;35;4;0.04;...
138  251;1.26;0.01;0.0057;118;9;1;0.01;0.0002;37;3;...
139  234;1.24;18;8;118;12;1;0.03;0.0003;36;3;0.03;0...
140  0.22;1.24;15;8;118;12;3;0.03;0.0004;44;5;0.02;...
141  239;1.26;16;0.0076;119;15;4;0.03;0.0003;43;6;0...

[142 rows x 1 columns]

LIMPIEZA DE DATOS DUPLICADOS

In [6]:
#Determinar duplicados
print(len([e for e in dataset.duplicated() if e==True]))

43

In [7]:
#Al aplicar "drop_duplicates" obtenemos un nuevo "DataFrame", pero
#  con el parámetro inplace igual a "True" podemos realizar dicha
#  operación de eliminación y sobre-escribir el "DataFrame" del 
#  cual estamos eliminando con el nuevo "DataFrame" obtenido

dataset.drop_duplicates(keep="first", inplace=True)
dataset.shape

(99, 1)

TRATAMIENTO DE VALORES FALTANTES

In [8]:
dataset.isna()

     PC;PMg;PP;PS;Psi;Pti;PNb;PCr;PBr;Pal;PV;Pcu;Pca;Pni;Pmo;Pn;Dureza
0                                                False
1                                                False
2                                                False
3                                                False
4                                                False
..                                                 ...
97                                               False
98                                               False
99                                               False
100                                              False
101                                              False

[99 rows x 1 columns]

GUARDAR DATOS PRE PROCESADOS

In [9]:
guardar=DataFrame(dataset)
guardar.to_csv('proyecto_pre_procesado.csv',index=False)